   body {
     background-color: #EEE;
 }

 h1,
 h2,
 p,
 ul {
     padding: 0;
     margin: 0;
     list-style: none;
 }

 #business-card {
     background-color: #111;
     width: 400px;
     height: 200px;
     margin: 100px;
     font-family: Arial;
     box-shadow: 1px 1px 3px 1px black;
    }

 #business-card .name {
     font-size: 15px;
     color: white;
     margin-left: 25px;
     margin-top: 50px;
     padding: 10px 10px;
     text-align: right;
     float: left;
}

 #business-card .info {
     margin-top: 50px;
    border-left: 2px solid white;
     color: white;
     padding: 0 5px;
     float: left;
 }

 #business-card .name h1 {
     color: white;
     font-size: 30px;
     font-weight: normal;
 }

 #business-card .name h2 {
     color: #a78f49;
     font-size: 22px;
 }

 #business-card .name small {
     color: gray;
     font-size: 12px;

 }

 #business-card .info li {
     color: gray;
     font-size: 12px;
     padding: 2px;
     text-align: left;
 }

 #business-card .info li:before {
     content: "✆";
     color: #a78f49;
     font-weight: bold;
     margin-right: 7px;
 }

 #business-card .info li:nth-child(2):before {
     content: "🖃";
     color: #a78f49;
     font-weight: bold;
     margin-right: 5px;

 }

 #business-card .info li:nth-child(3):before {
     content: "🗺";
     color: #a78f49;
     font-weight: bold;
     margin-right: 5px;
 }
