body {
    font-family: 'Poppins', sans-serif;
    background-color: #222;
}
a {
    text-decoration: none;
}
.greedy-nav {
    background-color: #fff;
    display: table;
    width: 90%;
    margin: 5vh auto;
    position: relative;
}
.greedy-nav ul {
    display: table-row;
}
.greedy-nav ul li {
    display: table-cell;
    border-right:1px solid #222;
    padding: 1em;
    min-width: 5em;
}
.greedy-nav ul li a {
    color: black;
}
.greedy-nav ul li.burger {
    display: none;
    width: 1em;
    background-color: #555;
}
.greedy-nav ul li.burger a {
    color: white;
}
 .greedy-nav ul li:last-child {
    border-right: none;
 }
/*ADAPTIVE*/
@media (max-width:1140px) {
    .greedy-nav li.lg {
        display: none;
    }
    .greedy-nav ul li.burger {
        display: table-cell;
        position: relative;
    }
    .greedy-nav ul li.burger:before {
        content: "2";
        color: white;
        position: absolute;
        background-color: red;
        display: block;
        width: 1em;
        height: 1em;
        text-align: center;
        padding: 0.2em;
        left: -0.75em;
        border-radius: 100%;
    }
    #greedy:target .lg {
        display: block;
        position: absolute;
        right: 0;
        background-color: #fff;
        text-align: right;
        min-width: 8em;
        border: 1px solid #222; 
    }

     #greedy:target .lg:nth-child(8) {
        top: 3em;
        
    }
     #greedy:target .lg:nth-child(9) {
        top: 6em;
    }

}
@media (max-width:900px) {
    .greedy-nav li.md {
        display: none;
    }
    .greedy-nav ul li.burger:before {
        content: "4";
    }
    #greedy:target .lg,
    #greedy:target .md{
        display: block;
        position: absolute;
        right: 0; 
        background-color: #fff;
        text-align: right;
        min-width: 8em;
        border: 1px solid #222;
        right: 0;
    }
    #greedy:target .md:nth-child(6) {
        top: 3em;
        
    }
     #greedy:target .md:nth-child(7) {
        top: 5em;
     
    }
     #greedy:target .lg:nth-child(8) {
        top: 7.5em;
        
    }
     #greedy:target .lg:nth-child(9) {
        top: 10em;
        
    }


}